<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>~*~ Ukulele Tuesday's Web Page ~*~</title>
  <style>
    @keyframes blink {
      50% { opacity: 0; }
    }
    body {
      font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
      background-image: url('https://i.gifer.com/origin/f6/f6515214b43697e85c8b2a8a2512f43a_w200.gif');
      color: #ffff00;
      text-align: center;
    }
    a {
      color: #00ffff;
      font-weight: bold;
    }
    a:hover {
      color: #ff00ff;
    }
    h1 {
      font-family: "Impact", "Arial Black", sans-serif;
      font-size: 50px;
      font-weight: bold;
      color: #ff00ff;
      text-shadow: 3px 3px 0px #00ffff, 5px 5px 0px #ff0000;
    }
    h2 {
      font-family: "Comic Sans MS", cursive, sans-serif;
      font-size: 24px;
      color: #00ff00;
      animation: blink 1s linear infinite;
    }
    table {
      margin: 0 auto;
      border: 5px outset #c0c0c0;
      background-color: #000080;
      width: 800px;
    }
    td {
      padding: 10px;
      border: 2px inset #c0c0c0;
    }
    .songbook-item {
      display: inline-block;
      width: 200px;
      margin: 15px;
      padding: 10px;
      border: 3px double #ffff00;
      background-color: #333333;
      vertical-align: top;
    }
    .songbook-item img {
      width: 100%;
      height: auto;
      border: 2px solid #ff00ff;
    }
    .songbook-item .title {
      font-weight: bold;
      color: #00ff00;
      margin-top: 10px;
    }
    .songbook-item .subtitle {
      font-size: 0.85em;
      color: #c0c0c0;
    }
    footer {
      margin-top: 30px;
      padding-top: 20px;
      border-top: 5px ridge #c0c0c0;
    }
    .logo {
      animation: spin 3s linear infinite;
    }
    @keyframes spin { 
      100% { transform: rotate(360deg); } 
    }
    .last-updated {
      margin-top: 1.5em;
      font-size: 14px;
      color: #ffff00;
    }
  </style>
</head>
<body>
  <audio autoplay loop src="https://www.mididb.com/dl.asp?id=30256">
    <p>If you are reading this, it is because your browser does not support the audio element. Bummer!</p>
  </audio>

  <table border="5" cellpadding="10" cellspacing="5">
    <tr>
      <td>
        <header>
          <marquee behavior="scroll" direction="left" scrollamount="10"><h1>!!! Ukulele Tuesday's Web Page !!!</h1></marquee>
          <h2>~~~*~*~*~ Welcome 2 My Humble Home on the World Wide Web ~*~*~*~~~</h2>
          <img src="https://i.gifer.com/origin/b4/b4b3a43f8736b4e5b9b28a2a433f81e6_w200.gif" alt="Under Construction">
        </header>
        
        <main>
          {% for file in files %}
            <div class="songbook-item">
              <a href="{{ file.url }}" target="_blank">
                <img src="{{ file.preview_image }}" alt="Preview of {{ file.title }}" border="2">
                <div class="song-details">
                  <div class="title" title="{{ file.title }}">{{ file.title }}</div>
                  {% if file.subject %}
                  <div class="subtitle" title="{{ file.subject }}">{{ file.subject }}</div>
                  {% endif %}
                </div>
              </a>
            </div>
          {% endfor %}
        </main>
        
        <footer>
          <img src="assets/ut-logo.png" alt="Ukulele Tuesday Logo" class="logo" height="80">
          <p>Questions? Comments? Send me an electronic mail!</p>
          <a href="mailto:info@ukuleletuesday.ie"><img src="https://www.picgifs.com/graphics/e/email/graphics-email-562916.gif" alt="Email me!"></a>
          
          {% if last_updated %}
          <div class="last-updated">
            This page was last updated on: {{ last_updated }}
          </div>
          {% endif %}
          
          <hr>
          
          <p>You are visitor number:</p>
          <!--webbot bot="HitCounter" i-image="4" i-digits="7" PREVIEW="&lt;img src=&quot;/_vti_bin/fpcount.exe/?Page=index.html|Image=4|Digits=7&quot; ALT=&quot;Hit Counter&quot;&gt;" -->
          <a href="https://www.webfreecounter.com/" target="_blank"><img src="https://www.webfreecounter.com/hit.php?id=gvoakpko&nd=7&style=1" border="0" alt="hit counter"></a>
          
          <p><img src="https://cyber.dabamos.de/netscape/netscap4.gif" alt="Best viewed with Netscape Navigator"></p>
        </footer>
      </td>
    </tr>
  </table>
</body>
</html>
